div#sl-overlay {
	width: 1024px;
	height: 768px;
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.6;
	z-index: 104;
	-webkit-transform-style: preserve-3d;
}

div#sl-lightbox {
	border: 2px solid #66899A;
	width: 924px;
	height: 668px;
	position: absolute;
	left: 50px;
	top: 50px;
	z-index: 105;
	background: #fff;
	border-radius: 10px;
	-webkit-transform-style: preserve-3d;
}
div#sl-lightbox-inner {
	width: 904px;
	height: 648px;
	margin: 10px;
	overflow: hidden;
	-webkit-transform-style: preserve-3d;
}

a#sl-lightbox-close {
	width: 32px;
	height: 32px;
	display: block;
	z-index: 200;
	position: absolute;
	right: -16px;
	top: -16px;
	text-indent: -9999em;
	background: url(images/interface/close.png) center center no-repeat;
}